// text color
$nav: #7987A5;
$nav-accent: #1C295D;

$main-tab: #AFAFAF;
$main-title: #646373FF; 

$aside: #757575; // Use for text and icons

// background
$bc-header: #393D46;
$bc-nav: #F6F7FB;
$bc-main: rgba(255, 255, 255, 0.9);

// accent
$accent: #FF6647;
$accent-blue: #3246D3;
$accent-green: #34A59F;

// shadow
$shadow-input: 0px 24px 24px rgba(0, 0, 0, 0.02);
$shadow-nav: 0px 10px 20px rgba(88, 92, 229, 0.25);
$shadow-aside: rgba(255, 255, 255, 0.9);
$shadow-card: 0px 100px 80px rgba(153, 165, 236, 0.05), 0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963), 0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704), 0px 20px 13px rgba(153, 165, 236, 0.025), 0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296), 0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
