.gallery-wrapp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.7847339619441527) 0%, rgba(48,19,13,1) 100%, rgba(45,18,12,1) 100%, rgba(255,102,71,1) 100%);
    z-index: 10;
    overflow-x: hidden;
    padding: 100px 30px;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
    transition: 250ms;
}
.gallery-close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    transition: 250ms;
    opacity: 0.8;
    &:hover,
    &:focus {
        opacity: 1;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
    }
    &::before,
    &::after {
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 10px);
        content: '';
        width: 20px;
        height: 2px;
        background: #fff;
    }
    &::before{
        transform: rotate(-45deg);  
    }
    &::after{
        transform: rotate(45deg);
    }
}
.gallery-img-wrapp{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
    transition: 650ms;
    transform: scale(2);
    opacity: 0;
}
.gallery-img{
    min-width: 270px;
    max-width: 560px;
    min-height: 180px;
    max-height: 320px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
}

.gallery-btn-list{
    width: 40%;
    @include center-styles;
    margin: 40px auto 0;
}
.galery-btn{
    width: 50px;
    height: 50px;
    background-color: transparent;
    opacity: 0.5;
    transition: 250ms;
    border: 1px solid #fff;
    border-radius: 15px;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .gallery-img{
        max-width: 760px;
        max-height: 420px;
    }
}
