// Button to open aside
.aside-btn-open{
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    &::before,
    &::after,
    & > .aside-btn-dot{
        width: 4px;
        height: 4px;
        content: '';
        background: #fff;
        display: block;
        border-radius: 50%;
    }
    &::before,
    &::after{
        margin: 0 2px;
    }
}

// Apartment block
.aside-content{
    font-family: 'Sofia Pro';
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    position: absolute;
    top: -1500px;
    left: 0;
    background: rgb(251,250,249);
    background: linear-gradient(31deg, rgba(251,250,249,1) 25%, rgba(238,248,246,1) 100%);
    z-index: 6;
    padding: 60px 20px;
    transition: all 500ms;
}
.button-close-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: calc(50% - 17.5px);
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid $aside;
    border-radius: 50%;
    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: $aside;
    }
    &::before{
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
}
.is-open{
    top: 0;
}

// Aside apartment
.apart-header{
    position: relative;
    width: 100%;
}
.apart-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: contain;
}
.apart-btn{
    font-family: 'Sofia Pro';
    position: absolute;
    top: 13px;
    left: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    color: $aside;
    transition: all 250ms;
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
}

// Btn to show apartment
.btn-slider{
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.8);
    transition: all 250ms;
    &:nth-child(1) {
        left: 15px;
    }
    &:nth-child(2) {
        right: 15px;
    }
    &:hover,
    &:focus{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    &::after{
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 3.5px);
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(45deg);
    }
    &:nth-child(2)::after{
        transform: rotate(-135deg);
        left: calc(50% - 6px);
    }
}

// Address
.apart-address{
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 27px;
    line-height: 31px;
}

// Info block
.apart__info{
    padding-top: 16px;
}

// Info head
.info-head{
    @include center-styles;
}
.info-owner{
    color: $aside;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
}
.info-btn-svg{
    fill: $accent-blue;
}
// Info body
.info-body{
    @include center-styles;
    padding-top: 27px;
}
.info__btn-act{
    display: flex;
}
.btn-act{
    box-sizing: border-box;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    transition: all 250ms;
    box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
    &:nth-child(2) {
        margin: 0 10px;
    }
    &:hover,
    &:focus {
        border: 1px solid $accent-blue;
    }
}
.btn-act-svg{
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    fill: $aside;
    transition: all 250ms;
}
.btn-act:hover > .btn-act-svg,
.btn-act:focus > .btn-act-svg{
    fill: $accent-blue;
}
.info-cost{
    font-weight: 800;
    font-size: 1.3rem;
    color: $accent-blue;
    line-height: 31px;
}

// Info footer
.info-foo{
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}
.info-foo-block{
    display: flex;
    align-items: center;
}
.info-apart{
    font-size: 1rem;
    font-weight: 400;
    color: $aside;
    line-height: 25px;
    padding-left: 4px;
}
.info-foo-svg{
    stroke-width: 0.2px;
    stroke: $aside;
    fill: $aside;
}
// Map
.aside__map{
    min-width: calc(320px - 40px);
    max-width: 397px;
    padding-top: 32px;
}
.map{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
}

// Block photo
.aside__photo{
    padding-top: 27px;
}
.photo-head{
    display: flex;
    justify-content: space-between;
}
.photo-title{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 31px;
}
.photo-list{
    padding-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.photo-list-item{
    cursor: pointer;
    width: 111px;
    height: 111px;
}
.photo-list-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 480px) {
    .aside-content{
        max-width: 406px;
        box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
        top: -1000%;
        left: calc(100% - 406px);
    }
    .btn__aside-btn{
        position: absolute;
        top: calc(50% - 16px);
        left: calc(50% - 16px);
    }
    .aside-btn-open{
        flex-direction: column;
        width: 36px;
        height: 36px;
        border: none;
        &::before,
        &::after,
        & > .aside-btn-dot{
            width: 100%;
            height: 2px;
            border-radius: 0%;
        }
        & > .aside-btn-dot{
            margin: 5px 0;
        }
    }
    .aside-btn-line{
        display: block ;
        width: 100%;
        height: 2px;
        background: #fff;
    }
    .is-open{
        top: 0;
    }
}

@media screen and (min-width: 1280px){
    .aside-content{ 
        left: auto;
        right: 0;
        top: 0;
        padding: 20px;
        z-index: 1;
    }
    .aside__button{
        display: none;
    }
    .aside-btn-open{
        display: none;
    }
}