.chart{
    position: relative;
    top: 76px;
    width: 100%;
}
.chart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.chart-body{
    min-width: 283px;
    height: auto;
}