.chart{
    position: relative;
    left: 131px;
    min-width: 393px;
    width: 600px;
}
// .chart-header{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }