.header{
    position: fixed;
    min-width: 100%;
    height: auto;
    background: $bc-header;
    font-family: 'Google Sans';
    padding: 20px 0;
    z-index: 5;
}
.header__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// Burger
.btn__burger{
    display: block;
    background: transparent;
    width: 25px;
    cursor: pointer;
}
.burger-elem{
    width: 100%;
    height: 2px;
    background: #fff;
    & ~ .line2{
        margin: 5px 0;
    }
    & ~ .line3 {
        width: 50%;
    }
}

// Button to open aside
.aside-btn-open{
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    &::before,
    &::after,
    & > .aside-btn-dot{
        width: 4px;
        height: 4px;
        content: '';
        background: #fff;
        display: block;
        border-radius: 50%;
    }
    &::before,
    &::after{
        margin: 0 2px;
    }
}
// Navigation
.header__nav{ 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: -2000%;
    left: 0;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    background: rgb(244,245,250);
    background: linear-gradient(90deg, rgba(244,245,250,1) 48%, rgba(234,236,241,1) 100%, rgba(216,218,225,1) 100%, rgba(214,216,223,1) 100%);
    padding: 80px 20px 20px 20px;
    overflow-y: scroll;
    transition: top 500ms;
    z-index: 4;
}
.btn-close{
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 25px;
    height: 2px;
    background: $nav;
    transform: rotate(45deg);
    transition: all 250ms;
    &::after{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 25px;
        height: 2px;
        background: $nav;
        transform: rotate(-90deg);
        transition: all 250ms;
    }
    &:focus,
    &:hover {
    background: $nav-accent;
    }
}
.btn-close:focus.btn-close::after,
.btn-close:hover.btn-close::after{
    background: $nav-accent;
}
.header__nav ~ .is-open-nav{
    position: fixed;
    
}
.is-open-nav {
    top: 0;
}
.nav-link{
    display: flex;
    align-items: center;
    color: $nav;
    font-weight: 400;
    font-size: 0.8rem;
    transition: all 250ms;
    &:nth-child(even) {
        margin: 20px 0;
    }
    &:hover,
    &:focus {
        color: $nav-accent;
    }
}
.nav-link-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 250ms;
    margin-right: 10px;
    overflow: hidden;

    &::after{
        position: absolute;
        top: -15px;
        right: -13px;
        content: '';
        background: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        opacity: 0;
        transition: all 250ms;
    }
}
.nav-link-svg{
    fill: #9BAAD3;
    transition: all 250ms;
}
.nav-link:hover > .nav-link-icon,
.nav-link:focus > .nav-link-icon{
    background-color: $accent;
    box-shadow: $shadow-nav;
}
.nav-link:hover > .nav-link-icon > .nav-link-svg,
.nav-link:focus > .nav-link-icon > .nav-link-svg{
    fill: #fff;
}
.nav-link:hover > .nav-link-icon::after,
.nav-link:focus > .nav-link-icon::after {
    opacity: 0.4;
}

@media screen and (min-width: 480px) {
    .header{
        position: relative;
        box-sizing: border-box;
        width: 131px;
        height: 113px;
        min-width: auto;
    }
    .btn__burger{
        position: absolute;
        left: calc(50% - 13px);
        top: calc(50% - 10px);
    }
    .btn__aside-btn{
        display: none;
    }
    .header__nav{ 
        top: 113px;
        width: 131px;
        min-width: auto;
        height: auto;
        padding: 26px 26px 550%;
        overflow: hidden;
    }
    .btn-close{
        display: none;
    }
    .nav-link{
        flex-direction: column;
        &:nth-child(even) {
            margin: 30px 0;
        }
        & ~ .nav-link--margin{
            margin-top: 181px;
        }
    }
    .nav-link-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 250ms;
    margin-right: 10px;
    overflow: hidden;

    &::after{
        position: absolute;
        top: -15px;
        right: -13px;
        content: '';
        background: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        opacity: 0;
        transition: all 250ms;
    }
}
    .nav-link-icon{
        margin: 0 0 16px;
    }

    .nav__btn{
        flex-direction: column;
    }
    .btn-power{
        margin: 0 0 16px;
    }
}