// Gilroy
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy/Gilroy-Black.woff'), url('fonts/gilroy/Gilroy-Black.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Extrabold.woff'), url('/docs/fonts/gilroy/Gilroy-Extrabold.woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Heavy.woff'), url('/docs/fonts/gilroy/Gilroy-Heavy.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Semibold.woff'), url('/docs/fonts/gilroy/Gilroy-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Medium.woff'), url('/docs/fonts/gilroy/Gilroy-Medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Regular.woff'), url('/docs/fonts/gilroy/Gilroy-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Light.woff'), url('/docs/fonts/gilroy/Gilroy-Light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/docs/fonts/gilroy/Gilroy-Thin.woff'), url('/docs/fonts/gilroy/Gilroy-Thin.woff2');
    font-weight: 100;
}

// Google Sans
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/google sans/ProductSans-Black.woff'), url('/docs/fonts/google sans/ProductSans-Black.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/google sans/ProductSans-Bold.woff'), url('/docs/fonts/google sans/ProductSans-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/google sans/ProductSans-Medium.woff'), url('/docs/fonts/google sans/ProductSans-Medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/google sans/ProductSans-Regular.woff'), url('/docs/fonts/google sans/ProductSans-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/google sans/ProductSans-Thin.woff'), url('/docs/fonts/google sans/ProductSans-Thin.woff2');
    font-weight: 100;
}

// Sofia Pro
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Black Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Black Az.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Bold Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Bold Az.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Semi Bold Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Semi Bold Az.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Medium Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Medium Az.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Regular Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Regular Az.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro Light Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro Light Az.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Google Sans';
    src: url('/docs/fonts/sofia pro/Sofia Pro ExtraLight Az.woff'), url('/docs/fonts/sofia pro/Sofia Pro ExtraLight Az.woff2');
    font-weight: 100;
}